SUBSCRIBE_URLS=
WEB_SECRET=
UI_PORT=
ALLOWED_IPS=
HTTP_PORT=
SOCKS_PORT=
ALLOWED_PROXY_IPS=
PROXY_USERNAME=
PROXY_PASSWORD=
ALLOW_LAN=
BIND_ADDRESS=
IPV6=
MODE=
LOG_LEVEL=
EXTERNAL_CONTROLLER=
CONFIG_DIR=
SUBSCRIBE_CACHE_PATH=
SUBSCRIBE_INTERVAL=
HEALTH_CHECK_URL=
HEALTH_CHECK_INTERVAL=
